############################
# Logs
############################
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

############################
# Node / Frontend
############################
node_modules/
dist/
dist-ssr/
*.local

# Vite
.vite/
.vite-temp/

############################
# Hardhat / Blockchain
############################
artifacts/
cache/
coverage/
coverage.json
typechain/
typechain-types/
build-info/

*.dbg.json
*.json.lock

############################
# Environment & Secrets
############################
.env
.env.*
!.env.example

############################
# RSA keys / sensitive files
############################
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*private*
**/*secret*
**/*mnemonic*
**/*seed*
**/*keystore*

############################
# Uploads / data
############################
uploads/
storage/
tmp/
*.db
*.sqlite

############################
# Contract address (local / private)
############################
contract-address.json

############################
# Editor / OS files
############################
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
