# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment variables
# =========================
.env

# =========================
# Hardhat
# =========================
artifacts/
cache/
coverage/
coverage.json
ignition/deployments/chain-31337/

# =========================
# TypeChain
# =========================
typechain/
typechain-types/

# =========================
# Frontend build
# =========================
frontend/build/
frontend/dist/

# =========================
# Uploads / Files
# =========================
upload-server/uploads/*
uploads/*


# =========================
# Network-specific files
# =========================
contract-address.json

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS / Editors
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
